.module1 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 100px;
  top: 100px;
}

@media (max-width: 600px) {
  .module1 {
    width: 100px;
    height: 100px;
    top: 0;
    left:0;
  }
}